@import "/variables.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    width: 80%;
    margin: auto;
}

button{
    background-color: #0d83b8;
    padding: 15px 30px;
    border-radius: 50px;
    color: $colore-primario;
    font-size: 20px;
  
}

button.try{
    margin-right: 20px;
    background-color: #ee586b;
}
