@import "/variables.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: $colore-primario;
}
a.white{
    color: $colore-secondario;
}

.container{
    width: 80%;
    margin: auto;
}

button{
    background-color: #0d83b8;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 20px;
  
}

button.try{
    margin-right: 20px;
    background-color: $colore-secondario;
    color: $colore-primario;

}

button.white{
    background-color: $colore-primario;
    
}



.pos-rel{
    position: relative;
}
.pos-abs{
    position: absolute;
}
.mrg-bot-30{
    margin-bottom: 30px;
}
.mrg-bot-10{
    margin-bottom: 10px;
}
.mrg-top-20{
    margin-top: 20;
}
.bold{
    font-weight: bold;
}
img{
    width: 100%;
}